# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# IDE / Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Trained models
*.zip

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/
